@external my_clip_button;
@external hover;
@external active;

.my_clip_button {
    width:50px;
    text-align:center;
    border:1px solid black;
    background-color:#ccc;
    margin:0px;
    padding-top: 2px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 2px;
    cursor:default;
    font-size:8pt;
    cursor: wait;
}

.my_clip_button.hover {
    background-color:#eee;
}

.my_clip_button.active {
    background-color:#aaa;
}

.mainHtmlBlock {
   
}